<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Born\ShareCart\Api\GetCartItemsManagementInterface" type="Born\ShareCart\Model\GetCartItemsManagement"/>
	<preference for="Born\ShareCart\Api\GetSessionDataManagementInterface" type="Born\ShareCart\Model\GetSessionDataManagement"/>
    <type name="Magento\Framework\Session\SessionManager">
	<plugin name="bornCart" type="Born\ShareCart\Plugin\SessionManager" sortOrder="1" />
	</type>
</config>
