<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2018 BORN Group, Inc. All rights reserved
  ~ @author Alexander Lukyanov
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Born\WebsiteStoreCreator\Api\StoreShipToRepositoryInterface" type="Born\WebsiteStoreCreator\Model\StoreShipToRepository"/>
	<preference for="Born\WebsiteStoreCreator\Api\Data\StoreShipToInterface" type="Born\WebsiteStoreCreator\Model\Data\StoreShipTo"/>
	<preference for="Born\WebsiteStoreCreator\Api\Data\StoreShipToSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Born\WebsiteStoreCreator\Api\StoreShipToManagementInterface" type="Born\WebsiteStoreCreator\Model\StoreShipToManagement"/>
	<preference for="Born\WebsiteStoreCreator\Api\WebsiteCreatorInterface" type="Born\WebsiteStoreCreator\Model\WebsiteCreator"/>
</config>
