<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Born\Jobs\Api\JobsRepositoryInterface" type="Born\Jobs\Model\JobsRepository"/>
	<preference for="Born\Jobs\Api\Data\JobsInterface" type="Born\Jobs\Model\Data\Jobs"/>
	<preference for="Born\Jobs\Api\Data\RowInterface" type="Born\Jobs\Model\Data\Row"/>
	<preference for="Born\Jobs\Api\Data\JobsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Born\Jobs\Api\SaveManagementInterface" type="Born\Jobs\Model\SaveManagement"/>
</config>
