<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
       	<section id="pobox" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Born Shipping</label>
			<tab>kandn</tab>
			<resource>Born_Shipping::shipping</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Configuration</label>		
				<field id="disabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable/disable PO box restriction</label>
				    <comment>PO box restriction. (default it disabled)</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>				
			</group>
		</section>
    </system>
</config>
