<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Born_Restrictions::Entity" sortOrder="10" title="Entity">
					<resource id="Born_Restrictions::Entity_save" sortOrder="10" title="Save Entity"/>
					<resource id="Born_Restrictions::Entity_delete" sortOrder="20" title="Delete Entity"/>
					<resource id="Born_Restrictions::Entity_update" sortOrder="30" title="Update Entity"/>
					<resource id="Born_Restrictions::Entity_view" sortOrder="40" title="View Entity"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
