<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018 BORN Group, Inc. All rights reserved
  ~ @author Alexander Lukyanov
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Born_ApiLog" setup_version="1.0.0" />
</config>
