<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
  <customer>
  <password>
   <max_password_length>15</max_password_length>               
    </password>
	</customer>
	</default>
</config>