<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="intel" translate="label" sortOrder="100">
            <label>Intel</label>
        </tab>
        <section id="intel" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Registration Settings</label>
            <tab>intel</tab>
            <resource>Born_Config::configuration</resource>
            <group id="registration" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <!--<label>Intel External Urls</label>
                <field id="support_link" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Support Link</label>
                </field> -->
                <label>Terms and Condition</label>
                <field id="newsletter_sub_text" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter Subscription Checkbox</label>
                </field>
                <field id="registration_terms" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Checkbox</label>
                </field>
            </group>
        </section>
    </system>
</config>