<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 BORN Commerce, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Born\Carousel\Api\CarouselRepositoryInterface" type="Born\Carousel\Model\CarouselRepository" />
    <preference for="Born\Carousel\Api\Data\CarouselInterface" type="Born\Carousel\Model\Carousel" />
    <preference for="Born\Carousel\Api\Data\CarouselSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <virtualType name="Born\Carousel\ImageUpload" type="Born\Carousel\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">carousel/tmp</argument>
            <argument name="basePath" xsi:type="string">carousel</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Born\Carousel\Controller\Adminhtml\Index\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Born\Carousel\ImageUpload</argument>
        </arguments>
    </type>
</config>
