<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright © 2018 BORN Commerce, Inc. All rights reserved.
 See COPYING.txt for license details.
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Born_Carousel::born" title="KNN" module="Born_Carousel" sortOrder="60" parent="Magento_Backend::content" resource="Born_Carousel::born" />
        <add id="Born_Carousel::Carousel_Banner" title="Carousel Banner" module="Born_Carousel" sortOrder="10"  parent="Born_Carousel::born" action="borncarousel" resource="Born_Carousel::Carousel_Banner"/>
    </menu>
</config>