<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Url">
        <plugin name="Born_SAML_Plugin_Model_Url" type="Born\SAML\Plugin\Model\Url" disabled="true" />
    </type>

    <preference for="Magento\Customer\Controller\Account\Login" type="Born\SAML\Controller\Account\Login" />
    <preference for="Magento\Customer\Controller\Account\Logout" type="Born\SAML\Controller\Account\Logout" />

</config>